/* old site accent color: #db6a6b */

.jumbotron {
  background: #222;
}

@media (min-width: 1024px) {
  .jumbotron {
      background-color: #222;
      background-image: url('../img/piano-header.png');
      background-repeat: no-repeat;
  }
}

i.material-icons.col-icon {
    font-size: 5rem;
    color: #ddd;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#intro-card img {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
  margin-top: 10px;
  border:5px solid rgba(0, 0, 0, 0.125);
}

#intro-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 30px;
  border-radius: 20px;
}

#intro-card .lead {
  margin-bottom: 0;
}

.music-note-list {
  padding-left: 0;
}

.music-note-list li {
  list-style-type: none;
}

.music-note-list li:before {
  font-family: 'Material Icons';
  content: "music_note";
  -webkit-font-feature-settings: 'liga';
  padding-right: 5px;
  position: relative;
  top: 3px;
}

.text-primary, a.text-primary:hover, a, a:hover {
  color: #db6a6b !important;
  text-decoration: none;
}

.btn-primary {
  background-color: #db6a6b;
  border: 1px solid #db6a6b;
}

.inline-icon {
  color: #ddd;
  font-size: 2rem;
  position: relative;
  top: 12px;
  padding-right: 10px;
}
